/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: #F8F5F0;
    color: #3E2F1C;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #3E2F1C;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #C9A34E;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #C9A34E;
}

/* HERO */
.hero {
    height: 60vh;
    background: url('../images/hotel.jpg') no-repeat center/cover;
    position: relative;
}

.hero-overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

/* BOOKING BAR */
.booking-bar {
    background: white;
    margin: -40px auto 30px;
    padding: 20px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.booking-bar form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.input-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-box input,
.input-box select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    background: #C9A34E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.search-btn:hover {
    background: #a88535;
}

/* ROOMS */
.rooms-preview {
    padding: 40px;
    text-align: center;
}

.room-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 10px 0;
}

/* RESTAURANT */
.restaurant {
    background: #6B8E6B;
    color: white;
    padding: 50px;
    text-align: center;
}

.btn {
    background: #C9A34E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

/* SERVICES */
.services {
    padding: 40px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service {
    background: #3E2F1C;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #3E2F1C;
    color: white;
    padding: 20px;
    text-align: center;
}